version: "3.9"

services:
    db:
        image: mysql:9.3.0
        restart: always
        environment:
            MYSQL_DATABASE: user-fb-app
            MYSQL_USER: john
            MYSQL_PASSWORD: password123
            MYSQL_ROOT_PASSWORD: root
        ports:
            - "13306:3306"
        volumes:
            - dbdata:/var/lib/mysql

    backend:
        build:
            context: .
            dockerfile: Dockerfile
        environment:
            - DB_HOST=db
            - DB_DATABASE=user-fb-app
            - DB_USERNAME=john
            - DB_PASSWORD=password123
        ports:
            - "12001:8000"
        restart: always
        command: >
            bash -c "
                      composer install &&
                      until php artisan migrate --force; do
                        echo 'Migration failed. Retrying in 5 seconds...'
                        sleep 5
                      done &&
                      php artisan serve --host=0.0.0.0 --port=8000
                  "
        depends_on:
            - db

volumes:
    dbdata:
